In [1]:
# Get the parent directory and insert into the system path
import os, sys
parent_dir = os.path.dirname(os.getcwd())
sys.path.insert(0, parent_dir)

In [2]:
from scripts.user_overview_analysis import user_overview_analyzer
user_overview_analyzer = user_overview_analyzer()

In [3]:
query = "SELECT * FROM xdr_data"

In [4]:
df = user_overview_analyzer.load_data_from_postgres(query)

/home/am/Documents/Software Development/10_Academy Training/week2/tellCo-business-analytics/scripts/user_overview_analysis.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [5]:
# df.shape

In [6]:
# df.head()

In [7]:
# df.columns

In [8]:
user_overview_analysis_dic = user_overview_analyzer.user_overview_analysis()

In [9]:
if user_overview_analysis_dic:
    print("Top 10 Handsets:\n", user_overview_analysis_dic["top_10_handsets"])
    print("===================================================================================================\n")
    print("\nTop 3 Manufacturers:\n", user_overview_analysis_dic["top_3_manufacturers"])
    print("===================================================================================================\n")
    print("\nTop 5 Handsets per Manufacturer:\n", user_overview_analysis_dic["top_5_per_manufacturer"])

Top 10 Handsets:
                         handset  usage_count
0              Huawei B528S-23A        19752
1       Apple iPhone 6S (A1688)         9419
2        Apple iPhone 6 (A1586)         9023
3                     undefined         8987
4        Apple iPhone 7 (A1778)         6326
5       Apple iPhone Se (A1723)         5187
6        Apple iPhone 8 (A1905)         4993
7       Apple iPhone Xr (A2105)         4568
8  Samsung Galaxy S8 (Sm-G950F)         4520
9        Apple iPhone X (A1901)         3813
===================================================================================================


Top 3 Manufacturers:
   manufacturer  usage_count
0        Apple        59565
1      Samsung        40839
2       Huawei        34423
===================================================================================================


Top 5 Handsets per Manufacturer:
    manufacturer                         handset  usage_count
0         Apple         Apple iPhone 6S (A1688)         9419
1         Apple          Apple iPhone 6 (A1586)         9023
2         Apple          Apple iPhone 7 (A1778)         6326
3         Apple         Apple iPhone Se (A1723)         5187
4         Apple          Apple iPhone 8 (A1905)         4993
5        Huawei                Huawei B528S-23A        19752
6        Huawei                    Huawei E5180         2079
7        Huawei  Huawei P20 Lite Huawei Nova 3E         2021
8        Huawei                      Huawei P20         1480
9        Huawei                  Huawei Y6 2018          997
10      Samsung    Samsung Galaxy S8 (Sm-G950F)         4520
11      Samsung      Samsung Galaxy A5 Sm-A520F         3724
12      Samsung     Samsung Galaxy J5 (Sm-J530)         3696
13      Samsung     Samsung Galaxy J3 (Sm-J330)         3484
14      Samsung    Samsung Galaxy S7 (Sm-G930X)         3199

In [10]:
user_behaviour = user_overview_analyzer.user_behavior_analysis()

An error occurred: Execution failed on sql '
            SELECT
                "IMSI" AS user_id,
                CASE
                    WHEN "Social Media DL (Bytes)" > 0 OR "Social Media UL (Bytes)" > 0 THEN 'Social Media'
                    WHEN "Gaming DL (Bytes)" > 0 OR "Gaming UL (Bytes)" > 0 THEN 'Gaming'

                    WHEN "Netflix DL (Bytes)" > 0 OR "Netflix UL (Bytes)" > 0 THEN 'Netflix'
                    WHEN "Google DL (Bytes)" > 0 OR "Google UL (Bytes)" > 0 THEN 'Google'
                    ELSE 'Other'
                END AS application,
                COUNT("bearer id") AS session_count,
                SUM("Dur. (s)") AS total_duration,
                SUM("Total DL (Bytes)") AS total_download,
                SUM("Total UL (Bytes)") AS total_upload,
                SUM("Total DL (Bytes)" + "Total UL (Bytes)") AS total_data_volume
            FROM
                xdr_data
            GROUP BY
                "IMSI", application
            ': column "bearer id" does not exist
LINE 12:                 COUNT("bearer id") AS session_count,
                               ^
HINT:  Perhaps you meant to reference the column "xdr_data.Bearer Id".

No data available for user behavior analysis.

/home/am/Documents/Software Development/10_Academy Training/week2/tellCo-business-analytics/scripts/user_overview_analysis.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [11]:
user_behaviour.shape

AttributeError: 'NoneType' object has no attribute 'shape'