In [1]:
# Getting parent directory of current direc and adding into the system path
import os, sys
parent_dir = os.path.dirname(os.getcwd())
sys.path.insert(0, parent_dir)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/home/am/Documents/Software Development/10_Academy Training/week2/Data/Copy of Week2_challenge_data_source(CSV).csv")

In [4]:
# df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [5]:
from scripts.user_satisfaction_analysis import UserSatisfactionAnalyzer
user_satisfaction = UserSatisfactionAnalyzer(df)

In [6]:
agg_data, normalized_data = user_satisfaction.aggregate_and_normalize()

In [7]:
agg_data.describe()

       MSISDN/Number  session_frequency  session_duration  session_traffic
count   1.068560e+05      106856.000000      1.068560e+05     1.068560e+05
mean    4.511474e+10           2.587819      1.461672e+05     6.909621e+08
std     2.889423e+12           4.944608      1.863587e+05     4.910559e+08
min     3.360100e+10           0.000000      7.142000e+03     3.324901e+07
25%     3.365088e+10           1.000000      7.130800e+04     3.585499e+08
50%     3.366365e+10           1.000000      1.027400e+05     6.179231e+08
75%     3.368344e+10           4.000000      1.727990e+05     8.574351e+08
max     8.823971e+14         324.000000      1.855375e+07     8.846226e+09

In [8]:
normalized_data

array([[0.00308642, 0.00590825, 0.09593143],
       [0.00308642, 0.00938651, 0.01402598],
       [0.00308642, 0.0068922 , 0.06385101],
       ...,
       [0.00308642, 0.04692194, 0.02256615],
       [0.00308642, 0.01325784, 0.06388747],
       [0.00308642, 0.04651534, 0.0120169 ]])

In [9]:
clusters, kmeans = user_satisfaction.perform_clustering(normalized_data, k=3)

In [10]:
clusters

array([0, 1, 1, ..., 1, 1, 1], dtype=int32)

In [11]:
kmeans

KMeans(n_clusters=3, n_init=10, random_state=42)

In [13]:
stats = user_satisfaction.compute_cluster_statistics(agg_data, clusters)

In [14]:
print("Cluster Statistics:\n")
    # Iterate over the clusters and their statistics
    for cluster, data in stats.iterrows():
        print(f"Cluster {cluster}:")
        print("  Session Frequency:")
        print(f"    Min: {data[('session_frequency', 'min')]:.2f}")
        print(f"    Max: {data[('session_frequency', 'max')]:.2f}")
        print(f"    Mean: {data[('session_frequency', 'mean')]:.2f}")
        print(f"    Sum: {data[('session_frequency', 'sum')]:.2f}")
        print("  Session Duration:")
        print(f"    Min: {data[('session_duration', 'min')]:.2f}")
        print(f"    Max: {data[('session_duration', 'max')]:.2f}")
        print(f"    Mean: {data[('session_duration', 'mean')]:.2f}")
        print(f"    Sum: {data[('session_duration', 'sum')]:.2f}")
        print("  Session Traffic:")
        print(f"    Min: {data[('session_traffic', 'min')]:.2f}")
        print(f"    Max: {data[('session_traffic', 'max')]:.2f}")
        print(f"    Mean: {data[('session_traffic', 'mean')]:.2f}")
        print(f"    Sum: {data[('session_traffic', 'sum')]:.2f}")
        print("-" * 40)

        session_frequency                             session_duration  \
                      min    max       mean       sum              min
cluster
0                     0.0   25.0   2.346430  110362.0           7146.0
1                     0.0   16.0   1.181073   60641.0           7142.0
2                     2.0  324.0  12.446450  105521.0          23292.0

                                                 session_traffic  \
                max           mean           sum             min
cluster
0         3174824.0  141153.420037  6.639010e+09    5.851174e+08
1         1576929.0  108558.140659  5.573809e+09    3.324901e+07
2        18553754.0  401747.879689  3.406019e+09    1.260555e+09


                  max          mean           sum
cluster
0        1.427100e+09  8.510926e+08  4.003029e+13
1        6.005611e+08  3.434418e+08  1.763368e+13
2        8.846226e+09  1.907228e+09  1.616948e+13