In [1]:
# Get the parent directory and insert into the system path
import os, sys
parent_dir = os.path.dirname(os.getcwd())
sys.path.insert(0, parent_dir)

In [2]:
from scripts.user_overview_analysis import UserOverviewAnalyzer
user_overview_analyzer = UserOverviewAnalyzer()

In [3]:
query = "SELECT * FROM xdr_data"

In [4]:
df = user_overview_analyzer.load_data_from_postgres(query)

In [5]:
df.shape

(150001, 55)

In [6]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [7]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [8]:
user_overview_analysis_dic = user_overview_analyzer.user_overview_analysis()

In [9]:
if user_overview_analysis_dic:
    print("Top 10 Handsets:\n", user_overview_analysis_dic["top_10_handsets"])
    print("===================================================================================================\n")
    print("\nTop 3 Manufacturers:\n", user_overview_analysis_dic["top_3_manufacturers"])
    print("===================================================================================================\n")
    print("\nTop 5 Handsets per Manufacturer:\n", user_overview_analysis_dic["top_5_per_manufacturer"])

Top 10 Handsets:
                         handset  usage_count
0              Huawei B528S-23A        19752
1       Apple iPhone 6S (A1688)         9419
2        Apple iPhone 6 (A1586)         9023
3                     undefined         8987
4        Apple iPhone 7 (A1778)         6326
5       Apple iPhone Se (A1723)         5187
6        Apple iPhone 8 (A1905)         4993
7       Apple iPhone Xr (A2105)         4568
8  Samsung Galaxy S8 (Sm-G950F)         4520
9        Apple iPhone X (A1901)         3813
===================================================================================================


Top 3 Manufacturers:
   manufacturer  usage_count
0        Apple        59565
1      Samsung        40839
2       Huawei        34423
===================================================================================================


Top 5 Handsets per Manufacturer:
    manufacturer                         handset  usage_count
0         Apple         Apple iPhone 6S (A1688)         9419
1         Apple          Apple iPhone 6 (A1586)         9023
2         Apple          Apple iPhone 7 (A1778)         6326
3         Apple         Apple iPhone Se (A1723)         5187
4         Apple          Apple iPhone 8 (A1905)         4993
5        Huawei                Huawei B528S-23A        19752
6        Huawei                    Huawei E5180         2079
7        Huawei  Huawei P20 Lite Huawei Nova 3E         2021
8        Huawei                      Huawei P20         1480
9        Huawei                  Huawei Y6 2018          997
10      Samsung    Samsung Galaxy S8 (Sm-G950F)         4520
11      Samsung      Samsung Galaxy A5 Sm-A520F         3724
12      Samsung     Samsung Galaxy J5 (Sm-J530)         3696
13      Samsung     Samsung Galaxy J3 (Sm-J330)         3484
14      Samsung    Samsung Galaxy S7 (Sm-G930X)         3199

In [10]:
user_behaviour = user_overview_analyzer.user_behavior_analysis()

User Behavior Analysis:
             user_id  num_sessions  total_duration  total_download  \
0       2.040471e+14             1        869844.0      78697597.0
1       2.040808e+14             1        877385.0     194828056.0
2       2.082001e+14             1         86019.0      31376981.0
3       2.082001e+14             1         86254.0     392918313.0
4       2.082001e+14             2        573923.0     961767023.0
...              ...           ...             ...             ...
107260  2.082099e+14             1        127367.0     688815403.0
107261  2.082099e+14             1        168543.0     451173021.0
107262  2.082099e+14             1         86399.0     307825104.0
107263  2.082522e+14             1         56613.0     800629358.0
107264  2.140743e+14             1        226790.0     637123579.0

        total_upload  total_data_volume
0         60456049.0       1.391536e+08
1         37295915.0       2.321240e+08
2         53794658.0       8.517164e+07
3         33583272.0       4.265016e+08
4         71325004.0       1.033092e+09
...              ...                ...
107260    33888182.0       7.227036e+08
107261    44692550.0       4.958656e+08
107262    30355487.0       3.381806e+08
107263    45083854.0       8.457132e+08
107264    57382080.0       6.945057e+08

[107265 rows x 6 columns]

In [11]:
user_behaviour.shape

(107265, 6)